.web-slid{
    background-color: #fceae8;
}
.slid-ditel{
    padding: 20px;
}
.categories img{
    width: 100px;
    margin-left: 50px;
}
.shoes{
    border: 0px;
    
}
.cad-futter{
    border: 0px;
    background-color: white;
}
.subscrib{
    height: 250px;
    background-color: #fceae8;
}